


.App-header {
  
  background-image: linear-gradient(to right, rgb(221, 5, 221), rgb(16, 4, 102));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(245, 245, 245, 0.71);
  overflow: hidden;
}



